.button {
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px !important;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 999rem;
    display: inline-flex;
    font-size: var(--sl-text-sm);
    gap: 0.5em;
    line-height: 1.1875;
    outline-offset: 0.25rem;
    padding: 0.4375rem 1.125rem;
    text-decoration: none;
    background: var(--sl-color-text-accent);
    border-color: var(--sl-color-text-accent);
    color: var(--sl-color-black);
}
