body {
    --tab-switcher-border-width: 1px;
    --tab-switcher-padding: calc(.25rem - var(--tab-switcher-border-width));
    --tab-item-border-radius: .5rem;
    --tab-switcher-border-radius: calc( var(--tab-item-border-radius) + var(--tab-switcher-padding) + var(--tab-switcher-border-width) );
    --tab-switcher-border-color: var(--sl-color-hairline-light);
    --tab-switcher-text-color--active: var(--sl-color-white);
    --tab-switcher-icon-color--active: var(--sl-color-text-accent);
    --tab-switcher-text-color: var(--sl-color-gray-2);
    --tab-switcher-icon-color: var(--sl-color-gray-3);
    --tab-switcher-background-color: var(--sl-color-black);
    --tab-item-background-color--hover: var(--sl-color-gray-6);
    --tab-item-background-color--active: var(--sl-color-gray-6);
	--sl-line-height-headings: 1.2;
}
.canvas-card {
    border: var(--tab-switcher-border-width) solid var(--tab-switcher-border-color);
	border-radius: calc(var(--tab-switcher-border-radius) + 4px);
	display: flex;
    margin-top: 0;
	overflow: hidden;
}
.tab-list.tabbed-sidebar {
    list-style-type: none;
	color: var(--sl-color-text);
	border: var(--tab-switcher-border-width) solid var(--tab-switcher-border-color);
	border-radius: var(--tab-switcher-border-radius);
	display: flex;
	flex-direction: column;
	gap: .25rem;
	padding: var(--tab-switcher-padding);
	background-color: var(--tab-switcher-background-color);
	margin-bottom: 1.5rem;
	height: fit-content;
}
.tab-list.tabbed-sidebar .tab-item {
	box-sizing: border-box;
	margin: 0;
}
.tab-list.tabbed-sidebar .tab-item .tab-link {
    cursor: pointer;
	color: var(--sl-color-text);
	box-sizing: border-box;
	margin: 0;
	border: var(--tab-switcher-border-width) solid transparent;
	border-radius: var(--tab-item-border-radius);
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: calc(.5rem - var(--tab-switcher-border-width));
	background-clip: padding-box;
	line-height: var(--sl-line-height-headings);
	text-decoration: none;
	font-weight: 600;
}
.tab-list.tabbed-sidebar .tab-item a[aria-selected=true].tab-link {
	border-color: var(--tab-switcher-border-color);
	color: var(--tab-switcher-text-color--active);
	background-color: var(--tab-item-background-color--active);
}
.tab-list.tabbed-sidebar .tab-item .tab-link:hover {
	color: var(--tab-switcher-text-color--active);
	background-color: var(--tab-item-background-color--hover);
}