@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #c0c9d5;
    --color-accent-600: #556e8c;
    --color-accent-900: #283341;
    --color-accent-950: #1e242d;
    /* Generated gray color palettes. */
    --color-gray-100: #f3f7fb;
    --color-gray-200: #e8eef7;
    --color-gray-300: #bbc3ce;
    --color-gray-400: #7e8da1;
    --color-gray-500: #4c596c;
    --color-gray-700: #2c394a;
    --color-gray-800: #1c2738;
    --color-gray-900: #131920;
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

@layer components {
    .card {
        @apply rounded-md;
    }
}

body {
    --tab-switcher-border-width: 1px;
    --tab-switcher-padding: calc(0.25rem - var(--tab-switcher-border-width));
    --tab-item-border-radius: 0.5rem;
    --tab-switcher-border-radius: calc(
        var(--tab-item-border-radius) + var(--tab-switcher-padding) + var(--tab-switcher-border-width)
    );
    --tab-switcher-border-color: var(--sl-color-hairline-light);
    --tab-switcher-text-color--active: var(--sl-color-white);
    --tab-switcher-icon-color--active: var(--sl-color-text-accent);
    --tab-switcher-text-color: var(--sl-color-gray-2);
    --tab-switcher-icon-color: var(--sl-color-gray-3);
    --tab-switcher-background-color: var(--sl-color-black);
    --tab-item-background-color--hover: var(--sl-color-gray-6);
    --tab-item-background-color--active: var(--sl-color-gray-6);
    --sl-line-height-headings: 1.2;
}

@media screen and (max-width: 768px) {
    ul[role='tablist'],
    .tab-link {
        font-size: small;
    }
    a[role='tab'] {
        padding: 0 0.5rem;
    }
}
