.input {
    cursor: pointer;
    color: var(--sl-color-text);
    box-sizing: border-box;
    margin: 0;
    border: var(--tab-switcher-border-width) solid transparent;
    border-radius: var(--tab-item-border-radius);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: calc(0.5rem - var(--tab-switcher-border-width));
    background-clip: padding-box;
    line-height: var(--sl-line-height-headings);
    text-decoration: none;
    font-weight: 600;
}

.input:focus {
    border-color: var(--tab-switcher-border-color);
    color: var(--tab-switcher-text-color--active);
    background-color: var(--tab-item-background-color--active);
}

.input:hover {
    color: var(--tab-switcher-text-color--active);
    background-color: var(--tab-item-background-color--hover);
}
